@import './base.css';

@font-face {
  font-family: 'Lexend Deca';
  src: url('../utils/assets/fonts/LexendDeca-Regular.ttf') format('truetype'); /* TTF como respaldo */
}

@font-face {
  font-family: 'Lexend Deca Thin';
  src: url('../utils/assets/fonts/LexendDeca-Thin.ttf') format('truetype')
}

@font-face {
  font-family: 'Lexend Deca Light';
  src: url('../utils/assets/fonts/LexendDeca-Light.ttf') format('truetype')
}

@font-face {
  font-family: 'Lexend Deca ExtraLight';
  src: url('../utils/assets/fonts/LexendDeca-Light.ttf') format('truetype')
}

@font-face {
  font-family: 'Lexend Deca Medium';
  src: url('../utils/assets/fonts/LexendDeca-Medium.ttf') format('truetype')
}

html, body {
  height: 100%;  /* La altura total debe ocupar el 100% de la ventana */
  margin: 0;
  padding: 0; 
  font-family: 'Lexend Deca', sans-serif !important;
}

#app {
  display: flex;
  flex-direction: column; /* El contenido se apila verticalmente */
  height: 100%;  /* Esto asegura que el contenedor ocupe toda la altura de la ventana */
}

.background {
  display: flex;
  flex-direction: column;
  flex-grow: 1;  /* El contenido ocupará el espacio restante */
  overflow: hidden;  /* Evita que el contenido se desborde */
  background-image: url('/src/utils/assets/images/background.svg'); /* Asegúrate de que la ruta sea correcta */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mdb-navbar {
  width: 100%;  /* Asegura que el navbar ocupe el 100% de ancho */
  height: auto;  /* Asegura que el navbar se ajuste al contenido */
  flex-shrink: 0; /* Evita que el navbar se encoja si hay poco contenido */
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: background-color 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  #app {
    display: flexbox;
    padding: 0 0rem;
  }
}


/* REGULAR */

.font-regular-18{
  font-family: 'Lexend Deca';
  font-size: 18px;
}

.font-regular-white-14{
  font-family: 'Lexend Deca';
  font-size: 14px;
  color: white;
  text-align: start;
}

.font-regular-white-20{
  font-family: 'Lexend Deca';
  font-size: 20px;
  color: white;
  font-style: normal;
}

.font-regular-white-38{
  font-family: 'Lexend Deca';
  font-size: 38px;
  color: white;
}



.font-regular-blue-20{
  font-family: 'Lexend Deca' !important;
  font-size: 20px;
  color: #4E62E2 !important;
  text-transform: uppercase;
}

.font-regular-blue-38{
  font-family: 'Lexend Deca';
  font-size: 38px;
  color: #4E62E2 !important;
}

/* MEDIUM */
.font-medium-blue-20{
  font-family: 'Lexend Deca Medium';
  font-size: 20px;
  color: #4E62E2;
}


/* THIN */

.font-thin-white-14{
  font-family: 'Lexend Deca Thin';
  font-size: 14px;
  color: white; 
}



.font-thin-white-18{
  font-family: 'Lexend Deca Thin';
  font-size: 18px;
  color: white; 
}

.font-thin-blue-40{
  font-family: 'Lexend Deca Thin';
  font-size: 40px;
  color: #4E62E2;
  font-weight: 100;
}


/* LIGHT */

.font-light-white-18{
  font-family: 'Lexend Deca Light';
  font-size: 18px;
  color: white
}

.font-light-blue-15{
  font-family: 'Lexend Deca Light';
  font-size: 15px;
  color: #4E62E2;
}

.font-light-blue-20{
  font-family: 'Lexend Deca Light';
  font-size: 20px;
  color: #4E62E2;
}

.font-light-blue-25{
  font-family: 'Lexend Deca Light';
  font-size: 25px;
  color: #4E62E2;
}

/* EXTRA LIGHT */

.font-extra-light-white-12{
  font-family: 'Lexend Deca ExtraLight';
  font-size: 12px;
  color: white
}

.font-extra-light-white-16{
  font-family: 'Lexend Deca ExtraLight';
  font-size: 16px;
  color: white
}

.font-extra-light-white-20{
  font-family: 'Lexend Deca ExtraLight';
  font-size: 20px !important;
  color: white !important;
}

.font-extra-light-white-26{
  font-family: 'Lexend Deca ExtraLight';
  font-size: 26px !important;
  color: white !important;
}

.font-extra-light-blue-12{
  font-family: 'Lexend Deca ExtraLight';
  font-size: 12px;
  color: #4E62E2;
}

.font-extra-light-blue-14{
  font-family: 'Lexend Deca ExtraLight';
  font-size: 14px;
  color: #4E62E2;
}

.font-extra-light-blue-16{
  font-family: 'Lexend Deca ExtraLight';
  font-size: 16px;
  color: #4E62E2;

}